#about-pickles .content {
    width: 80%;
    margin: 2% 10% 2% 10%;
}

#about-pickles .content .img {
    width: 90%;
    margin: 1% 5% 1% 5%;
    margin-bottom: 2%;
}

#about-pickles .content .img img {
    width: 100%;
    height: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}

#about-pickles .content .description p {
    text-align: center;
    font-size: large;
    margin-top: 1%;
    white-space: pre-wrap;
}
