.header {
    background-color: #FFFFFF;
}

#header-list {
    list-style: none;
}

.header {
    padding: 0 30px;
    display: flex;
    height: 60px;
    border-bottom: dashed 1px #CCCCCC;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}

.header nav {
    margin-left: auto;
}

.header ul {
    display: flex;
}

.header ul li {
    margin-left: 20px;
}
